body.darkmode {
    background: #222;
    color: #fff;
}

/* Dark mode button style */
.darkmode-toggle {
    background: #000; 
    width: 3rem;
    height: 3rem;
    position: fixed;
    border-radius: 50%;
    right: 32px;
    bottom: 32px;
    left: unset;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkmode-toggle--inactive {
    display: none;
}
